.tasks-table {
  display: flex;
  flex-direction: column;

  gap: 10px;
  margin: 20px;
}

.tasks-header,
.tasks-row {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 0.5fr;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.tasks-header {
  font-weight: bold;
  background-color: #f0f0f0;
}
